.btn-social {
  width: 100%;
  padding: var(--px-8) var(--px-16);
  font: 600 var(--ft-14) / var(--ft-24) "Poppins", sans-serif;
  background: var(--white);
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    filter: brightness(0.9);
  }
  img {
    margin-right: var(--px-10);
  }
}
