.login-form {
  grid-template-rows: repeat(6, 45px);

  p {
    position: relative;
    font-weight: 600;
    color: var(--text-highlight);
    &::before,
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 45%;
      height: 2px;
      background: var(--gray-line);
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}
